.login-form-wrap {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}

@media (max-width: 767px) {
    .login-form-wrap {
        max-width: 100%;
        box-shadow: none;
    }
}
